@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col">

<div class="form-group">
    <label class="mt-2">Mongo Users</label>
    <select name="users" class="form-control" id="mongo-users">
    </select>
</div>
    </div>
    <div class="col">
        <div class="form-group">
            <label class="mt-2">Elastic Users</label>
            <select name="users" class="form-control" id="elastic-users">
            </select>
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/js/Home/index.js" defer></script>
}