@{
    ViewData["Title"] = "Home Page";
}

<div class="form-group">
    <label class="mt-2">Users</label>
    <select name="users" class="form-control" id="users">
    </select>
</div>

@section Scripts {
    <script src="~/js/Home/index.js" defer></script>
}